@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@inject IPageLayout PageLayout

@if (!string.IsNullOrEmpty(PageLayout.Content.Title))
{
    <abp-row class="entry-row">
        <div class="col-auto">
            <h1 class="content-header-title">@PageLayout.Content.Title</h1>
        </div>
        <div class="col-lg-auto pl-lg-0">
            @if (!string.IsNullOrEmpty(PageLayout.Content.Title))
            {
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    @if (PageLayout.Content.BreadCrumb.Items.Count > 0)
                    {
                        <li class="breadcrumb-item"> @PageLayout.Content.BreadCrumb.Items[0].Text </li>
                    }
                    <li class="breadcrumb-item active"> @PageLayout.Content.Title </li>
                </ol>
            }
        </div>
        <div class="col">
            <div class="text-lg-right px-1 pt-2">
                @await RenderSectionAsync("button", false)
            </div>
        </div>
    </abp-row>
}